<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Simple Forum</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <div class="container my-3">
            <table class="table">
                <thead class="table-dark" id="post-list-head">
                </thead>
                <tbody id="post-list">
                </tbody>
            </table>
        </div>
        <script>
            function formatDate(dateString) {
                const date = new Date(dateString);
                const year = date.getFullYear();
                const month = ('0' + (date.getMonth() + 1)).slice(-2);
                const day = ('0' + date.getDate()).slice(-2);
                const hour = ('0' + date.getHours()).slice(-2);
                const minute = ('0' + date.getMinutes()).slice(-2);
                return `${year}-${month}-${day} ${hour}:${minute}`;
            }

            function getPostListRequest() {
                function onReadyStateChange(event) {
                    const currentAjaxRequest = event.currentTarget;

                    if(currentAjaxRequest.readyState === XMLHttpRequest.DONE) {
                        if(currentAjaxRequest.status === 200) {
                            const postListHeadDom = document.querySelector('#post-list-head')
                            const trNode = document.createElement('tr');
                            const thNode1 = document.createElement('th');
                            const thNode2 = document.createElement('th');
                            const thNode3 = document.createElement('th');
                            thNode1.textContent = '번호';
                            thNode2.textContent = '제목';
                            thNode3.textContent = '작성일시';
                            trNode.appendChild(thNode1);
                            trNode.appendChild(thNode2);
                            trNode.appendChild(thNode3);
                            postListHeadDom.appendChild(trNode);

                            const postListDom = document.querySelector('#post-list')
                            postListDom.innerHTML = '';
                            const posts = JSON.parse(currentAjaxRequest.responseText);
                            posts.forEach((post, index)=> {
                                const trNode = document.createElement('tr');
                                const tdNode1 = document.createElement('td');
                                tdNode1.textContent = index + 1;
                                trNode.appendChild(tdNode1)

                                const tdNode2 = document.createElement('td');
                                const aNode = document.createElement('a');
                                const postSubject = document.createTextNode(post.postSubject);
                                aNode.appendChild(postSubject);
                                aNode.href = `/post/detail/${post.postId}`;
                                tdNode2.appendChild(aNode);
                                trNode.appendChild(tdNode2);

                                const tdNode3 = document.createElement('td');
                                const postCreatedDate = document.createTextNode(formatDate(post.postCreatedDate));
                                tdNode3.appendChild(postCreatedDate);
                                trNode.appendChild(tdNode3)

                                postListDom.appendChild(trNode);
                            });
                        } else {
                            console.error('request failed');
                        }
                    }
                }

                const ajaxRequest = new XMLHttpRequest();

                ajaxRequest.onreadystatechange = onReadyStateChange;
                ajaxRequest.open('GET', '/api/post/list');
                ajaxRequest.send();
            }

            window.onload = getPostListRequest;
        </script>
    </body>
</html>